<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Lorem.</a></li>
                    <li><a href="">Quo.</a></li>
                    <li><a href="">Aspernatur!</a></li>
                    <li><a href="">Veniam?</a></li>
                    <li><a href="">Animi!</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Lorem.</a></li>
                    <li><a href="">Quo.</a></li>
                    <li><a href="">Aspernatur!</a></li>
                    <li><a href="">Veniam?</a></li>
                    <li><a href="">Animi!</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Lorem.</a></li>
                    <li><a href="">Quo.</a></li>
                    <li><a href="">Aspernatur!</a></li>
                    <li><a href="">Veniam?</a></li>
                    <li><a href="">Animi!</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Lorem.</a></li>
                    <li><a href="">Quo.</a></li>
                    <li><a href="">Aspernatur!</a></li>
                    <li><a href="">Veniam?</a></li>
                    <li><a href="">Animi!</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>