<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Technical</a></li>
                    <li><a href="">Conceptual</a></li>
                    <li><a href="">Training Plans</a></li>
                    <li><a href="">Dieting Plans</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Technical</a></li>
                    <li><a href="">Conceptual</a></li>
                    <li><a href="">Training Plans</a></li>
                    <li><a href="">Dieting Plans</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Technical</a></li>
                    <li><a href="">Conceptual</a></li>
                    <li><a href="">Training Plans</a></li>
                    <li><a href="">Dieting Plans</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <h3>Useful links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Technical</a></li>
                    <li><a href="">Conceptual</a></li>
                    <li><a href="">Training Plans</a></li>
                    <li><a href="">Dieting Plans</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>