<div class="hero-banner">
    <div class="hero-img">
        <img src="../assets/images/home.jpg" alt="">
    </div>
    <div class="hero-heading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed recusandae voluptatibus ad qui vel eius corrupti exercitationem perferendis ducimus!
    </div>
</div>



<div class="top-blogs">
   <div class="blog-item">
    <h4>ENTERTAINMENT</h4>
    <p>An Action Hero Review: Ayushmann Khurrana-Jaideep Ahlawat's Chemistry/Rivalry Will Leave You Wanting For More</p>
   </div>
   <div class="blog-item">
    <h4>ENTERTAINMENT</h4>
    <p>An Action Hero Review: Ayushmann Khurrana-Jaideep Ahlawat's Chemistry/Rivalry Will Leave You Wanting For More</p>
   </div>
   <div class="blog-item">
    <h4>ENTERTAINMENT</h4>
    <p>An Action Hero Review: Ayushmann Khurrana-Jaideep Ahlawat's Chemistry/Rivalry Will Leave You Wanting For More</p>
   </div>
</div>


<div class="blog-list-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="blog-list-heading">Explore more content</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img class="w-100" src="../assets/images/campaign.webp" alt="">
                    </div>
                    <div class="blog-info">
                        <p class="blog-type">Marketing</p>
                        <h4 class="blog-heading">11 marketing tools sales reps can use to close leads</h4>
                        <p class="blog-desc">Sales reps have always relied on marketing tools to stay relevant, connect with customers, monitor sales data, and communicate with their teams. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="suggested-products-container">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <h2 class="section-heading">
                    Suggested Products
                </h2>
                <p class="section-desc">You can buy these products on Amazon</p>
            </div>
        </div>
    </div>
</div>