<div class="hero-banner">
    <div class="hero-img">
        <img src="../assets/images/home.jpg" alt="">
    </div>
    <div class="hero-heading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed recusandae voluptatibus ad qui vel eius corrupti exercitationem perferendis ducimus!
    </div>
</div>



<div class="top-blogs">
   <div class="blog-item">
    <h4>ENTERTAINMENT</h4>
    <p>An Action Hero Review: Ayushmann Khurrana-Jaideep Ahlawat's Chemistry/Rivalry Will Leave You Wanting For More</p>
   </div>
   <div class="blog-item">
    <h4>ENTERTAINMENT</h4>
    <p>An Action Hero Review: Ayushmann Khurrana-Jaideep Ahlawat's Chemistry/Rivalry Will Leave You Wanting For More</p>
   </div>
   <div class="blog-item">
    <h4>ENTERTAINMENT</h4>
    <p>An Action Hero Review: Ayushmann Khurrana-Jaideep Ahlawat's Chemistry/Rivalry Will Leave You Wanting For More</p>
   </div>
</div>
